node_modules/
npm-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
logs/
*.log
.cache/
.update-backup/
downloads/
dist/
public/
*.apk
*.aab
screen.png
android/.gradle/
android/local.properties
android/app/build/
.idea/
.vscode/
.DS_Store
Thumbs.db

.vercel
.env*
